    @media screen and (prefers-color-scheme: dark) {
        body {
            background-color: rgb(47, 5, 87);
            color: gold;
        }
    }

    @media screen and (prefers-color-scheme: light) {
        body {
            background-color: rgb(84, 164, 255);
        }
    }

    body {
        margin: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    ::-webkit-scrollbar {
        width: 15px;
        position: absolute;
        right: 0;
    }

    ::-webkit-scrollbar-track {
        background: white;
        display: hidden;
    }

    ::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 8px;
        margin: 10px;
        border-color: white;
        border-style: solid;
    }

    h2 {
        font-size: 3rem;
        margin-left: 1rem;
        font-family: 'Courier New', Courier, monospace;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:visited {
        color: white;
    }

    a:hover {
        color: rgba(255, 255, 255, 0.434);
        text-decoration: underline;
    }
