body {
    margin: 0;
    background-color: rgb(84, 164, 255);
}

::-webkit-scrollbar {
    width: 15px;
    position: absolute;
    right: 0;
}

::-webkit-scrollbar-track {
    background: white;
    display: hidden;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 8px;
    margin: 10px;
    border-color: white;
    border-style: solid;
}

h2 {
    font-size: 3rem;
    margin-left: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: rgba(255, 255, 255, 0.434);
    text-decoration: underline;
}

/* ::-webkit-scrollbar {
    width: 0;
}

.scroll-path {
    position: fixed;
    top: 0;
    right: 0;
    width: 13px;
    height: 100%;
    background-color: rgba(189, 189, 189, 0.352);
    z-index: 1;
}

.progress-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 13px;
    height: 100%;
    z-index: 2;
    background-color: black;
} */