body {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

main {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    /* max-width: 100%;
    max-height: 100%; */
    display: flex;
    flex-direction: column;
}

form {
    position: relative;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;

}

@media screen and (prefers-color-scheme: dark) {
    .login {
        background: linear-gradient(to left, rgb(47, 5, 87) 40%, transparent 100%);
        color: gold;
    }
}

@media screen and (prefers-color-scheme: light) {
    .login {
        background: linear-gradient(to left, rgb(84, 164, 255) 40%, transparent 100%);
    }
}

.login {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 150vh;
    padding: 0;
    padding-left: 10vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.login form {
    width: fit-content;
    margin-left: 30rem;
}

.theNav {
    background-color: aqua;
    padding: 0;
    margin: 0;
    height: 5vh;
}

.imageLeft {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/tempCollage.jpg');
    /* background: linear-gradient(to right, transparent, blueviolet),
        url(images/bear1.jpg) */
}

.imageLeft span {
    display: none;
}

.imageLeft a {
    display: block;
    height: 100%;
    width: 100%;
}

/* a img {
    display: block;
    height: 100%;
    width: 90%;
} */

.login form button {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.login form h1 {
    text-align: center;
}

.login form {
    text-align: left;
}

.login form p {
    margin-top: 1px;
    margin-bottom: 1px;
}


@media screen and (max-height: 778px) {
    .login form {
        margin-left: 19rem;
    }
}

@media screen and (max-width: 778px) {
    @media screen and (prefers-color-scheme: dark) {
        .login {
            background: linear-gradient(to bottom, rgb(47, 5, 87) 40%, transparent 100%);
            color: gold;
        }
    }

    @media screen and (prefers-color-scheme: light) {
        .login {
            background: linear-gradient(to bottom, rgb(84, 164, 255) 40%, transparent 100%);
        }
    }

    .login {
        flex-direction: row;
        align-items: start;
        width: 100vw;
    }

    .login form {
        /* margin-left: 10rem;
        margin-top: 2rem; */
        margin: 0;
        margin-top: 2rem;
    }
}

a:link {
    color: gold;

}

a:hover {
    color: lime;
}

a:visited {
    color: gold;
}

a:active {
    color: blue;
}

/* .theFooter {
    height: 5vh;
    text-align: center;
} */