#review-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  backdrop-filter: blur(20px) saturate(160%);
}

main {
  padding: 50px;
}

/* #profile {
  display: block;
  text-align: center;
}

figure {
  flex: 1;
  padding: 10px;
} */

.profile-container {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container button {
  margin: 0 auto;
}

.profile-container figure {
  height: 40vh;
  width: 15vw;
  max-width: 15vw;
  max-height: 40vh;
  cursor: pointer;
}

.profile-container figure figcaption {
  text-align: center;
}

.profile-container .heading {
  text-align: center;
}

.img-container {
  width: 90%;
  height: 90%;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

.img-container img {
  width: 100%;
  height: 100%;
}

#reviewform {
  display: block;
  text-align: center;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-message {
  font-size: 24px;
  font-weight: bold;
}

.hidden {
  display: none;
}
