#review-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  backdrop-filter: blur(20px) saturate(160%);
}

main {
  padding: 50px;
}

.profile-container {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container button {
  margin: 0 auto;
}

.profile-container figure {
  cursor: pointer;
}

.profile-container figure figcaption {
  text-align: center;
}

.profile-container .heading {
  text-align: center;
}

.img-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

.img-container img {
  width: 100%;
  height: 100%;
}

#reviewform {
  display: block;
  text-align: center;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-message {
  font-size: 24px;
  font-weight: bold;
}

.hidden {
  display: none;
}

#title-content {
  width: 50%;
  border-radius: 30px;
}

#review-content {
  width: 40%;
  resize: none;
}

#image-url {
  width: 30%;
  margin-left: 0;
  margin-right: 0;
}
