main {
    min-height: 63vh;
    display: flex;
}

#left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    width: 50%;
}

#left img {
    width: 45%;
}

#right h2 {
    margin-left: 0;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    /* z-index: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#top-head {
    display: flex;
}

#top-head h1 {
    width: 80%;
}

#top-head #buttons-holder {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons-holder button {
    margin: 0.6rem;
}

@media screen and (max-width: 500px) {
    main {
        min-height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    #right {
        width: 100%;
    }

    #left img {
        width: 100%;
    }

    #left {
        width: 50%;
    }

    #right h2 {
        font-size: 2rem;
    }

    #right p {
        font-size: 1rem;
    }
}
